
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Practice</h2>
                </div>
            </div>
 	    <div class="row">
		<div class="col-lg-12">
<p>What I feel is important here is that social repositories like jsFiddle and GitHub extend the notion that
contributed so much to the success of the WorldWide Web, the ability to "View Page Source" and see how a page was created. By storing
these samples on GitHub and piping them through jsFiddle, they become wholly tangible. Nothing is hidden.</p>
		</div>
	  </div>
          <div class="row">
                <div class="col-md-4">
                    <h4 class="service-heading">Rhizome Project</h4>
                    <p class="text-muted">A library I am developing for mobile health, comprised of templates and code samples 
					of social health aspects like Questionnaires and Care Plans.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Folds Samples</h4>
                    <p class="text-muted">Literary samples using AngularJS Web Components, an emerging
					approach in web applications which blurs the line between author and developer.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Open Data Visualization</h4>
                    <p class="text-muted">These samples use d3.js (Data Driven Documents) to show how 
					we can provide better access to information by exposing standardized data for visualization.</p>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
<!--                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal"> -->
                        <a href="{{ post.modal-id }}/index.html" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                     <h3 class="section-subheading text-muted">These code samples are hosted on GitHub and piped through jsFiddle, so they are easy to share, fork and tweak.</h3>
                </div>
            </div>
        </div>
    </section>
