<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interdisciplinary Approach</h2>
                    <h3 class="section-subheading text-muted">My approach combines three main disciplines: Health Informatics, Critical Theory, and Technology.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Health Informatics</h4>
                    <p class="text-muted">Over the last decade, I have been deeply engaged with the Healthcare landscape in Canada, both as a software engineer
					and as a standards advocate. A fundamental issue in Healthcare is how to share information in a timely 
					<em>and appropriate</em> way, while balancing Privacy and Security concerns. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Critical Theory</h4>
                    <p class="text-muted">My approach to literature is based in structuralist narratology: 
					how does discourse influence language and vice versa; how do narrative elements relate?
					This discipline overlaps with Healthcare: when a patient falls between the cracks in the
					system, this is a failure of narrative as much as process or technology.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technology Champion</h4>
                    <p class="text-muted">I advocate for better User Experience through client-side and mobility frameworks. As the web moves 
                    			from desktop to mobile, it evolves from a document-sharing platform to an 
                    			application platform. Key influences on this evolution are Social Repositories and 
                    			Web Component platforms.</p>
                </div>
            </div>
        </div>
    </section>
