 <!-- About Section -->
    <section class="success" id="theory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Theory</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. This is text and rather a lot of it. </p>
                </div>
            </div>
        </div>
    </section>
