 <!-- About Section -->
    <section class="success" id="theory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Theory</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p>Web 2.0 emerged out of a combination of new platforms and approaches, like 'blogging, folksonomy 
and Ajax; however, Web 2.0 is still at its core based on a document standard, HTML. With the release of HTML5 
and the upcoming Web Components specification, the W3C and modern browsers that implement these specifications
are moving beyond the document paradigm to produce a first class application platform. You can see some of these features
in client-side frameworks like AngularJS, and Mozilla Brick and Google Polymer, which promise great things, but they are going to 
need to build the support of a developer community.</p>
                  <p>Evangelism, coordination, and interdisciplinary knowledge sharing are crucial to the success of this community.</p>
                  <p>In the cultural philosophy of Deleuze &amp; Guattari, the <em>rhizome</em> represents an approach which 
allows a multiplicity of non-hierarchical entry and exit points for interpretation. These repositories
in turn represent my attempts to create multiple entry points into an interdisciplinary field of study,
a social and narrative approach to health information and open data. Likewise, the folded plateau is a
common theme in Deleuze &amp; Guattari's writing, which I am here simplifying to represent the way web 
development environments like jsFiddle are often folded into four quadrants, as you will see.</p>
               </div>
            </div>
        </div>
    </section>
